.form1{
    width: 30rem;
   margin-left: 20rem;
   background-color: white;
   padding: 4rem;
border: 2px solid black;

}

.text{
    font-size:1.1rem;
    }
.or{
        margin-left: 5rem;
    }

.b1{
    border-radius: 2rem!important;
    width: 20rem;

}
h6{
    margin-left: 4rem;

}
.b1 img{
    width: 1.8rem;
    height: 2rem;
}
.login{
font-size: 25px;
color:white;
background-color:  #275A53;
width: 22rem;
border-radius: 5px;

}
